go 1.26.3

use (
	.
	./services/api-gateway
	./services/auth-service
	./services/collaboration-service
	./services/notification-service
	./services/search-service
	./services/trip-service
	./services/user-service
)
